# print()

### Print function basics

<hr>

Basic print function below for hello world.  To call the function start with the function name.  Within the parenthese include arguments if required.  Notice that "Hellow world!" in the below example, is the attribute for the print function.  Below the code example is the results of the code.

In [1]:
print("Hello world!")

Hello world!

<hr>

You can print numbers, letters and synmbols within a string double-quotes.

In [3]:
print("#$%^&*_~~sdaa1234567890_AbCdEfGhIjKlMnOpQrStUvWxYz")

#$%^&*_~~sdaa1234567890_AbCdEfGhIjKlMnOpQrStUvWxYz

<hr>

When doing math in a print function, you have to treat data differently.  For example if you want to display "3+7" then it needs to be included within double quotes.  If you want to add 3+7 then remove the double quotes.

In [4]:
print("3+7")

3+7

In [6]:
print(3+7)

10

<hr>

Problems occur when trying to join different data types.  For example, an int & string.